# symbols
snippet .- "⊚  " w
⊚ 
endsnippet

snippet .s "☐ " w
☐ 
endsnippet

snippet .* "◉  " w
◉ 
endsnippet

snippet .r "◼ " w
◼ 
endsnippet

snippet .v "✓ " w
✓ 
endsnippet

snippet -> "→ " w
→ 
endsnippet

snippet <- "← " w
← 
endsnippet

snippet .u "↑ " w
↑ 
endsnippet

snippet .d "↓ " w
↓ 
endsnippet
